@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(93.46% 0.0305 255.11);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(67.47% 0.1726 259.49);
  --subtle: oklch(0.7631 0.1044 259.49);
  --subtle-background:oklch(0.7227 0.1471 50.19);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #5294FF;
  --chart-2: #FF4D50;
  --chart-3: #FACC00;
  --chart-4: #05E17A;
  --chart-5: #7A83FF;
  --chart-active-dot: #000;
}

.dark {
  --background:oklch(20% 0.03 260);
  --secondary-background:oklch(23% 0.02 260);
  --foreground: oklch(95% 0 0);
  --main-foreground: oklch(100% 0 0);
  --main:  oklch(70% 0.17 259);
  --subtle: oklch(80% 0.07 259);
  --subtle-background: oklch(35% 0.04 260); 
  --border: oklch(35% 0 0);
  --ring: oklch(85% 0 0);
  --shadow:  0px 0px 12px oklch(0% 0 0 / 0.4);
  --chart-1: #6CA8FF;
  --chart-2: #FF7A7C;
  --chart-3: #FFD644;
  --chart-4: #26E68A;
  --chart-5: #8B93FF;
  --chart-active-dot: #ffffff;
} 

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-subtle: var(--subtle);
  --color-subtle-background: var(--subtle-background);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;
}
  
@layer base {
  * {
    @apply transition-colors duration-200 ease-in-out;
  }

  /* Respect user preference for reduced motion */
  @media (prefers-reduced-motion: reduce) {
    * {
      @apply transition-none;
    }
  }

  body {
    @apply text-foreground font-base bg-background;
  }

  h1, h2, h3, h4, h5, h6{
    @apply font-heading;
  }
}